@model MyWatchList.ViewModels.DashboardViewModel 

@{
    ViewData["Title"] = "Welkom!";
    Model.GebruikerId = 1;
}


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="dashboardHeader">@ViewData["Title"]</h1>
        </div>
        <div id="lblUitloggen" class="col-lg-6">
            <a href="#">Uitloggen</a>
        </div>
        <div class="col-lg-12">
            <img src="~/coverfoto.jpg" id="coverfoto" />
        </div>
        @*<div class="col-lg-4"></div>*@
        <div id="lblSeriesOpzoeken" class="col-lg-3">
            <a asp-controller="OverzichtSeries" asp-action="Index">Series opzoeken ></a>
        </div>
        <div id="lblMijnAccount" class="col-lg-3">
            <a asp-controller="Account" asp-action="Index" asp-route-id="@Model.GebruikerId">Mijn account ></a>
        </div>
        @*<div class="col-lg-2"></div>*@
        <div id="lblMijnLijsten" class="col-lg-3">
            <a href="#">Mijn lijsten bekijken ></a>
        </div>
    </div>
</div>


